@use '../../styles/variables'
.row
  display: flex
  margin: 1rem auto
  align-items: center
  padding-bottom: 1rem
  border-bottom: 1px solid #aaaaaa


.icon
  width: 1rem
  margin: 0 1rem



#username
  color: variables.$text-color-secondary
  font-size: 0.75rem
  margin: 1.12rem auto

#post-text
  font-size: 1.12rem

.numbers-post
  color: variables.$text-color-secondary
  font-size: 0.62rem
  font-weight: 700
  align-self: end

#margin-left
  margin-left: -6px
