@use 'variables'
@mixin btn
  display: flex
  justify-content: center
  align-items: center
  width: 20.6rem
  height: 47px
  background: variables.$gradient-color
  border-radius: 1.68rem
  color: #FFFFFF
  font: 700 18px variables.$font-noto
  text-decoration: none

@mixin btn-signup
  display: flex
  justify-content: center
  align-items: center
  width: 20.6rem
  height: 47px
  text-decoration: none
  font: 700 18px variables.$font-noto
  color: #FE7E02
  border: #FE7E02 solid 1px
  border-radius: 27px

@mixin btn-post
  display: flex
  justify-content: center
  align-items: center
  width: 20.6rem
  height: 47px
  background: variables.$gradient-color
  border-radius: 0.75rem
  color: #FFFFFF
  font: 700 18px variables.$font-noto
  text-decoration: none